<header>
    <a href="/menu" class="brand">Pokemon</a>
    <div class="menu">
    <div class="btn">
        <i class="fas fa-times close-btn"></i>
    </div>
    <a href="/menu">Menu</a>
    <a href="/admin/add">Add a Card</a>
    <a href="/editp">Edit Cards</a>
    <a href="/profile">My Cards</a>
    </div>
    <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
    </div>
</header>